In [1]:
# list and tuples

In [2]:
ratings = (10,9,8,7)

In [4]:
tuple = ("disco", 10, 1.2)

In [5]:
tuple[0]

'disco'

In [6]:
tuple[2]

1.2

In [7]:
tuple[-1]

1.2

In [8]:
tuple[-2]

10

In [9]:
tuple[:2]

('disco', 10)

In [10]:
len(tuple)

3

In [19]:
nested_tuple = (1,2, ("luuk"),(3,4),("luuks",(1,2)))

In [20]:
nested_tuple[2]

'luuk'

In [22]:
nested_tuple[2][2]

'u'

In [23]:
nested_tuple[3]

(3, 4)

In [24]:
nested_tuple[0]

1

In [27]:
mlist = ["MJ", 1, 2, 3.0]

In [28]:
print(mlist)

['MJ', 1, 2, 3.0]

In [29]:
mlist[0]

'MJ'

In [30]:
mlist[-4]

'MJ'

In [31]:
mlist[-1]

3.0

In [32]:
mlist[:2]

['MJ', 1]

In [33]:
mlist.extend(["kk", 10])

In [35]:
print(mlist)

['MJ', 1, 2, 3.0, 'kk', 10]

In [40]:
# nothing

In [37]:
mlist[0]="lux"

In [39]:
print(mlist)

['lux', 1, 2, 3.0, 'kk', 10]

In [41]:
A=(0,1,2,3)

In [43]:
A[3]

3

In [44]:
A[-1]

3

In [45]:
# sets

In [46]:
Set1={"luuk", "hello", "st", "grrr"}

In [49]:
Set1

{'grrr', 'hello', 'luuk', 'st'}

In [50]:
album_list = ["Luuk", "Rapper", "Rapper", 1982]

In [51]:
album_set = set(album_list)

In [52]:
album_set

{1982, 'Luuk', 'Rapper'}

In [53]:
Set1.add("Knife")

In [54]:
Set1

{'Knife', 'grrr', 'hello', 'luuk', 'st'}

In [56]:
Set1.remove("Knife")

In [57]:
Set1

{'grrr', 'hello', 'luuk', 'st'}

In [58]:
"hello" in Set1

True

In [59]:
"grrrrr" in Set1

False

In [60]:
album_list2 = ["Luuk", "Rapper", "Frank Cozgrove", 1984]

In [62]:
albums_luuk=album_list&album_list2

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [63]:
album_list2_set = set(album_list2)

In [64]:
albums_luuk=album_set&album_list2_set

In [65]:
print(albums_luuk)

{'Luuk', 'Rapper'}

In [66]:
# dicts